{
	"plugins": [
		"prettier-plugin-go-template",
		"prettier-plugin-toml"
	],
	"trailingComma": "es5",
	"tabWidth": 2,
	"semi": false,
	"singleQuote": true,
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "ignore",
	"overrides": [
		{
			"files": [
				"*.html"
			],
			"options": {
				"parser": "go-template"
			}
		}
	]
}
