{
  "plugins": [
    "prettier-plugin-go-template"
  ],
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "editorconfig": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}