<div>
    {{if not (in .Params.hide "nav")}}
    <div class="burger {{.Params.layout }}">
        <a href="javascript:void(0);" onclick="$('article > aside').toggleClass('responsive')">&#9776;</a>
    </div>
    {{end}}

    <div>
    {{- $defaultheader := printf "<a class='baselink' href='%s'><img src='%s' alt='Site logo'> %s</a>" .Site.BaseURL .Site.Params.logo .Site.Title -}}
    {{- partial "_mdinclude.html" (dict "name" "header" "context" . "tip" $defaultheader ) -}}
    </div>

    {{- with .Site.Params.github_repo }}
    <nav>
        <a
            class="github-button"
            href="https://github.com/{{.}}"
            data-color-scheme="no-preference: light; light: light; dark: dark;"
            data-size="large"
            data-show-count="true"
            aria-label="Star {{.}} on GitHub"
        >Star</a>
    </nav>
    {{- end}}
</div>
