<!doctype html>
<html>
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


		<link rel="stylesheet" href="https://unpkg.com/reveal.js@4.0.2/dist/reset.css">
		<link rel="stylesheet" href="https://unpkg.com/reveal.js@4.0.2/dist/reveal.css">
		<link rel="stylesheet" href="https://unpkg.com/reveal.js@4.0.2/dist/theme/black.css" id="theme">
		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="https://unpkg.com/reveal.js@4.0.2/plugin/highlight/monokai.css" id="highlight-theme">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-markdown
				         data-separator="^---"
					 data-separator-vertical="^___"
					 data-separator-notes="^Note:">
				{{ .RawContent }}
				</section>
			</div>
		</div>	

		<script src="https://unpkg.com/reveal.js@4.0.2/dist/reveal.js"></script>
		<script src="https://unpkg.com/reveal.js@4.0.2/plugin/notes/notes.js"></script>
		<script src="https://unpkg.com/reveal.js@4.0.2/plugin/markdown/markdown.js"></script>
		<script src="https://unpkg.com/reveal.js@4.0.2/plugin/highlight/highlight.js"></script>

		<script>
			Reveal.initialize({
					plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ],
			      });
		</script>


	</body>
</html>