{{ define "main" }}
  {{ if not .Site.Params.homePage }}
    {{ with .Content }}{{ . }}{{ end }}
  {{ else }}
    <!doctype html>
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta
          http-equiv="refresh"
          content="0;url={{ .Site.Params.homePage }}"
        />
        <meta
          property="og:image"
          content="{{ trim .Site.Params.preview_image " \n\r\t" }}"
        />
        <title>{{ trim .Site.Params.title " \n\r\t" }}</title>
        <meta
          name="description"
          content="{{ trim .Site.Params.description " \n\r\t" }}"
        />

        <!-- Google / Search Engine Tags -->
        <meta
          itemprop="name"
          content="{{ trim .Site.Params.title " \n\r\t" }}"
        />
        <meta
          itemprop="description"
          content="{{ trim .Site.Params.description " \n\r\t" }}"
        />
        <meta
          itemprop="image"
          content="{{ trim .Site.Params.preview_image " \n\r\t" }}"
        />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://minimumcd.org/" />
        <meta property="og:type" content="website" />
        <meta
          property="og:title"
          content="{{ trim .Site.Params.title " \n\r\t" }}"
        />
        <meta
          property="og:description"
          content="{{ trim .Site.Params.description " \n\r\t" }}"
        />
        <meta
          property="og:image"
          content="{{ trim .Site.Params.preview_image " \n\r\t" }}"
        />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
          name="twitter:title"
          content="{{ trim .Site.Params.title " \n\r\t" }}"
        />
        <meta
          name="twitter:description"
          content="{{ trim .Site.Params.description " \n\r\t" }}"
        />
        <meta
          name="twitter:image"
          content="{{ trim .Site.Params.preview_image " \n\r\t" }}"
        />
      </head>
      <body>
        <p>Redirecting to {{ .Site.Params.homePage }}...</p>
      </body>
    </html>
  {{ end }}
{{ end }}
