<div>
    {{ with $.Site.Data.names.contributors }}
    {{ $list := ( sort .list "lName" ) }}
    {{ $len := (len $list) }}

    <h4>({{ $len }})</h4>
        {{ range $index, $element := $list }}
            {{ if gt $index 0 }}<bold> &bull; </bold>{{ end }}
            {{ if .contact }}
                <a href="{{ .contact }}" alt="{{ .fName }} {{ .lName }}" target="_blank">
                    {{ .fName }}&nbsp;{{ .lName }}
                </a>
            {{ else }}
                {{ .fName }}&nbsp;{{ .lName }}
            {{ end }}
        {{ end }}
    {{ end }}
</div>
