<div>
    {{ with $.Site.Data.names.signatures }}
    {{ $list := .list }}
    {{ $len := (len $list) }}

    <h4>({{ $len }})</h4>
        {{ range $index, $element := $list }}
            {{ if gt $index 0 }}<bold> &bull; </bold>{{ end }}
                {{ $fullName := split .name  " " }}
                {{ if .contact }}
                    <a href="{{ .contact }}" alt="{{ .name }}" target="_blank">
                        {{ range $fullName }}{{ . }}&nbsp;{{ end }}
                    </a>
                {{ else }}
                    {{ .name }}
                {{ end }}
        {{ end }}
    {{ end }}
</div>
