<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}",
      "description": "{{ .Site.Params.description }}"
    },
    {
      "@type": "Organization",
      "name": "MinimumCD",
      "url": "{{ .Site.BaseURL }}",
      {{- with resources.Get "icons/logo.svg" }}
      "logo": "{{ .RelPermalink }}",
      {{- end }}
      "sameAs": [
        "https://github.com/Minimum-CD/cd-manifesto"
      ]
    }
  ]
}
</script>
