# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.115.1'
        extended: true
        
    - name: Run Tests 
      uses: actions/setup-node@v3
      with:
        node-version: 'lts/Hydrogen'
        cache: 'npm'
    - run: npm ci
    - run: npm test
